/* Bootstrap Variables */
$primary: #6D48E5;
$border-radius: 1px;
/* Bootstrap */
@import "node_modules/bootstrap/scss/bootstrap";
/* React Toastify */
@import "node_modules/react-toastify/scss/main";
/* Global Styles */
body {
    font: {
        family: "Poppins", sans-serif;
    }
}
.loading {
    display: none;
}
/* Auth Styles */
.public-layout {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-form {
    border: 1px solid #CECECE;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.4);
    padding: 30px 20px;
}
/* Search Styles */
.gif-list {
    img {
        height: 150px;
        max-width: 100%;
    }
}
.inline-loading {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    text-align: center;
    background: #CCCCCC7A;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-result {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Header Styles */
.dropdown-toggle {
    &.nav-link {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    &::after {
        margin-left: 0;
        margin-right: 0.255em;
    }
}
.avatar-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    img {
        width: 50px;
        border-radius: 50%;
        margin-left: .5rem;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        align-items: center;
    }
}
/* Profile Styles */
.edit-profile {
    background: $light;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: 0 3px 6px -3px $dark;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: $transition-base;
}
.profile-cover {
    margin-top: -3rem;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;

    .edit-profile {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    &:hover {
        .edit-profile {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }

    .profile-avatar {
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        z-index: 1;
        display: flex;
        align-items: flex-end;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        h3 {
            margin-bottom: 2rem;
        }
    }
}
.detail-list {
    list-style: none;
    padding: 0;
}
.detail-wrapper {
    h4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &:hover {
        .edit-profile {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }
}
.pointer {
    cursor: pointer;
}
/* User List */
.user {
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
.user-list {
    .card {
        box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.4);
    }
}
